.c-color-options {
	display: flex;
	justify-content: space-between;
	padding: 0 25px;
	margin-top: 100px;
	margin-bottom: 25px;
}
.c-color__option {
	all: unset;
	width: 30px;
	height: 30px;
	border-radius: 15px;
}

.c-color__option--white {
	cursor: pointer;
	background: $secondary;
}
.c-color__option--grey {
	cursor: pointer;
	background: #dfdfdf;
}
.c-color__option--yellow {
	cursor: pointer;
	background: $car-accent;
}
.c-color__option--red {
	cursor: pointer;
	background: #c03d08;
}
.c-color__option--blue {
	cursor: pointer;
	background: #004e91;
}
